<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registro</title>
</head>
<body>
    <div class="container">
        <h1>Você foi cadastrado com sucesso</h1>
        <button id="voltar" type="button" onclick="voltar()">Voltar a Home</button>

    </div>
    <script>
        function voltar(){
            window.location.href = "/home"
        }
    </script>
    <style>
    *{
        margin: 0;
    }
    html,body{
         height: 100%;
         background-color: #080828;
    }
    body{
        display: grid;
        place-items: center;
        color: white;
    }
  .container{
    display: grid;
    position: relative;
    top: -120px;
    height: 350px;
    width: 450px;
    }
   #voltar{
    height: 40px;
    width: 150px;
    margin-left: auto;
    margin-right: auto;
    border: solid 2px purple;
    }


</style>
</body>
</html>